<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>HDH Admin Page</title>

<!-- Font Awesome -->
<script src="https://use.fontawesome.com/dfd79da1ee.js"></script>
<!-- Bootstrap -->
<link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
<link href="/stylesheets/admin/bootstrap.css" rel="stylesheet"/>

<!-- NProgress -->
<link href="/stylesheets/admin/nprogress.css" rel="stylesheet"/>

<!-- iCheck -->
<link href="/stylesheets/admin/green.css" rel="stylesheet"/>

<!-- Datatables -->
<link href="/stylesheets/admin/dataTables.bootstrap.css" rel="stylesheet"/>
<link href="/stylesheets/admin/buttons.bootstrap.css" rel="stylesheet"/>
<link href="/stylesheets/admin/fixedHeader.bootstrap.css" rel="stylesheet"/>
<link href="/stylesheets/admin/responsive.bootstrap.css" rel="stylesheet"/>
<link href="/stylesheets/admin/scroller.bootstrap.css" rel="stylesheet"/>

<!-- Custom Theme Style -->
<link href="/stylesheets/admin/custom.css" rel="stylesheet"/>
<link href="/stylesheets/admin/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="/stylesheets/admin/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="/stylesheets/admin/nprogress.css" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="/stylesheets/admin/daterangepicker.css" rel="stylesheet">
<!-- bootstrap-datetimepicker -->
<link href="/stylesheets/admin/bootstrap-datetimepicker.css" rel="stylesheet">
<!-- Ion.RangeSlider -->
<link href="/stylesheets/admin/normalize.css" rel="stylesheet">
<link href="/stylesheets/admin/ion.rangeSlider.css" rel="stylesheet">
<link href="/stylesheets/admin/ion.rangeSlider.skinFlat.css" rel="stylesheet">
<!-- Bootstrap Colorpicker -->
<link href="/stylesheets/admin/bootstrap-colorpicker.min.css" rel="stylesheet">

<link href="/stylesheets/admin/cropper.min.css" rel="stylesheet">
<link href="/stylesheets/admin/custom.min.css" rel="stylesheet">