<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/products/list" class="site_title"><i class="fa fa-home"></i> <span>HDH Store!</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
        </div>
        <!-- /menu profile quick info -->

        <br>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <h3>Chức năng</h3>
                <ul class="nav side-menu">
                    <li><a href="/products/list"><i class="fa fa-th-list"></i> Quản lý sản phẩm </a></li>
                    <li><a href="/orders/list"><i class="fa fa-shopping-cart"></i> Quản lý đơn hàng </a></li>
                    <li><a href="/users/list"><i class="fa fa-users"></i> Tài khoản người dùng </a></li>
                    <li><a href="/admin/detail"><i class="fa fa-user"></i> Thông tin cá nhân Admin </a></li>
                    <li><a href="/products/label"><i class="fa fa-bookmark-o"></i> Thêm nhãn hiệu </a></li>
                    <li><a href="/products/subCategory"><i class="fa fa-suitcase"></i> Thêm danh mục con </a></li>
                    <li><a href="/products/statistic"><i class="fa fa-bar-chart-o"></i> Thống kê</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out"></i> Đăng xuất </a></li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->


    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav navbar-nav">
            
                </li>
            </ul>
        </nav>
    </div>
</div>