<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="/change-password" method="POST">
              <h1>Login Form</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" name="username" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" name="password" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="New password" name="newpass" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="New password again" name="newpassagain" />
              </div>
              <div>
                <% if (message != "undefined") { %>
                  <div
                    class="form-group form-control error"
                    style="background-color: #FFCCCC; font-weight: bold; color : rgb(210, 29, 29)">
                    <%= message %>
                  </div>
                <% } %>
              </div>
              <div>
                <input type="submit" value="Change"/>
                <a href="/admin/detail"><button type="button"  class="btn btn-success">Turn Back</button></a>
              </div>
              <div class="clearfix"></div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>
  </body>
</html>
