<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12" style="padding-top:150px">
          <div class="col-middle">
            <div class="text-center text-center">
              <h1 class="error-number">404</h1>
              <h2>Xin lỗi nhưng chúng tôi không tìm thấy trang này</h2>
              <p>Trang bạn đang tìm kiếm không tồn tại <a href="/products/list">Quay lại</a>
              </p>
              
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    
  </body>

</html>
