<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <body class="nav-md">
        <% include partials/navigation.ejs %>
    </body>
    
  </body>
  
</html>