<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <% include partials/navigation.ejs %>
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add Label</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    
                    <form class="form-group" action="/products/task/addlabel" method="POST" name="form" onchange="verifyLabel(this.form)">
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Label</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                          <input type="text" class="form-control" name="labelname" id="label" placeholder="Shiro" oninput="check(this.id)">
                          <h4 style="color:red; font-style:italic" id="notificationlabel"></h4>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <button  type="submit" id="btn-update" class="btn btn-primary"  hidden>Update</button>
                      <a href="/products/list"><button type="button"  class="btn btn-success">Turn Back</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- footer content -->
          <footer>
              <%- include('partials/footer.ejs') %>
          </footer>
          <!-- /footer content -->
        </div>
      </div>
      </div>
    </div>
    <%- include('partials/script.ejs') %>
  </body>
</html>